@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
html,body{
    background-color: #000;
    font-family: 'Slabo 27px', sans-serif;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}
#wrapper{
    font-family: 'Slabo 27px', sans-serif;
    color: white;
    background-color: #222;
}
#header{
    color: white !important;
    background-color: #444;
}
.logo{
    width: 75px;
    height: 75px;
    margin: auto;
}
.text-italic{
    font-style: italic;
}
p {
    font-size: 14pt;
}
p.lead {
    font-size: 18pt;
}
a:visited, a:active {
    text-decoration: none !important;
    color: inherit !important;
}
a:hover{
    color: inherit !important;
}
#footer{
    margin-top: 30px;
    font-size: 10pt;
}
